
<div class="body">
<div class="header11">
  <div id="ham-menu">
    <ul>

      <li>
        <h2><%= current_user.username %>さん</h2>
      </li>
      <li>
        <h4>
          <a href="/logs/index">投稿一覧</a>
        </h4>
      </li>
      <li>
        <h4>
          <a href="/logs/new">新規投稿</a>
        </h4>
      </li>
      <li>
        <h4>
          <a class="link" rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a>
        </h4>
      </li>
      <li>
        <h4>
          <a href="/">About</a>
        </h4>
      </li>
      <li>
        <h4>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSf-tNE0vLzNbkunEAx_vSEnBd4HO9AvEsHIEO1otC8OOmu8vQ/viewform?usp=sf_link">お問い合わせ</a>
        </h4>
      </li>
    </ul>

  </div>
  <div id="menu-background"></div>
</div>

  <h3>マイページ</h3>
  <div class="tabs">
    <input id="all" type="radio" name="tab_item" checked="checked">
    <label class="tab_item" for="all">自分の投稿</label>
    <input id="programming" type="radio" name="tab_item">
    <label class="tab_item" for="programming">いいね</label>
    <input id="design" type="radio" name="tab_item">
    <label class="tab_item" for="design">プロフィール</label>
    <div class="tab_content" id="all_content">
      <div class="tab_content_description">
        <div class="mypagebox">
          <h3>自分の投稿一覧</h3>
          <% @logs.each do |t|  %>

            <div class="logs">
              <div class="title">
                <br>
                <%= display_data t.title%>

              </div>
              <br>
              <div class="myinfo">
                <%= t.user.username %>さん 所持TOEICスコア:
                <%= display_data t.user.score%>
              </div>
              <div class="school">
                <%= display_data t.job%>
                <%= display_data t.school%>
                <br>
                <%= display_data t.department%>
                <%= display_data t.major%>
                <br>
              </div>
              <div class="contents">

                <div class="contents1">
                  ■使用教材
                  <br>
                  <%= simple_format(display_data t.book)%>
                </div>
                <br>
                <div class="contents12">
                  ■アドバイス
                  <br>
                  <%= simple_format(display_data t.body)%>
                </div>

              </div>
              <div class="indexlike">
                ■いいね:<%= t.likes.count %><br>
              </div>
              <div class="crelike">

                <% if user_signed_in? %>
                  <% if current_user.already_liked?(t) %>
                    <% like = Like.find_by(log_id: t.id, user_id: current_user.id) %>
                      <%= button_to 'いいねを取り消す', log_like_path(t.id,like.id), method: :delete,class:'btn btn-warning' %>

                    <% else %>
                      <%= form_for [t, @like] do |f| %>
                      <%= f.hidden_field :user_id, :value => current_user.id %>
                      <%= f.hidden_field :log_id, :value => t.id %>
                      <%= f.submit 'いいね！',class:'btn btn-warning' %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="exitlog">
                <%= link_to "編集する", edit_log_path(t.id) %>
                <%= link_to "削除する", log_path(t.id), method: :delete %>
                <br>
              </div>
            </div>
            <br>
          <% end %>

        </div>
      </div>
    </div>
    <div class="tab_content" id="programming_content">
      <div class="tab_content_description">
        <div class="mypagebox">
          <h3>いいねしている投稿</h3>

          <% current_user.liked_logs.each do |t|  %>

            <div class="logs">
              <div class="title">
                <br>
                <%= display_data t.title%>

              </div>
              <br>
              <div class="myinfo">
                <%= t.user.username %>さん 所持TOEICスコア:
                <%= display_data t.user.score%>
              </div>
              <div class="school">
                <%= display_data t.job%>
                <%= display_data t.school%>
                <br>
                <%= display_data t.department%>
                <%= display_data t.major%>
                <br>
              </div>
              <div class="contents">

                <div class="contents1">
                  ■使用教材
                  <br>
                  <%= simple_format(display_data t.book)%>
                </div>
                <br>
                <div class="contents12">
                  ■アドバイス
                  <br>
                  <%= simple_format(display_data t.body)%>
                </div>
              </div>
              <br>
              <div class="indexlike">
                ■いいね:
                <%= t.likes.count %>
                <br>
              </div>
              <div class="crelike">
                <% if user_signed_in? %>
                  <% if current_user.already_liked?(t) %>
                    <% like = Like.find_by(log_id: t.id, user_id: current_user.id) %>
                      <%= button_to 'いいねを取り消す', log_like_path(t.id,like.id), method: :delete,class:'btn btn-warning' %>

                    <% else %>
                      <%= form_for [t, @like] do |f| %>
                      <%= f.hidden_field :user_id, :value => current_user.id %>
                      <%= f.hidden_field :log_id, :value => t.id %>
                      <%= f.submit 'いいね！',class:'btn btn-warning' %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>

            </div>
            <br>
          <% end %>

        </div>
      </div>
    </div>

    <div class="tab_content" id="design_content">
      <div class="tab_content_description"></div>
      <h3>プロフィール</h3>
      <h6>名前:
        <%= current_user.username %>
        <br>
        TOEICスコア:
        <%= current_user.score%>
        <br>
        メールアドレス:
        <%= current_user.email%>
      </h6>
      <a href="/users/edit">プロフィール編集</a>

    </div>
  </div>
</div>
