<head>
  <title>文書のタイトル</title>

  <style type="text/css">
    a.link:link {
      color: white;
    }
    a.link:visited {
      color: white;
    }
    a.link:hover {
      color: #ff0000;
    }
    a.link:active {
      color: white;
    }
  </style>

</head>


  <div class="flex_test-box">
    <div class="flex_test-item">

      院ログ
      </div>
      <div class="flex_test-item">

      </div>


    <div class="flex_test-item">


       <div class="session">
      <a class="link" href="/logs/index">一覧へ戻る</a>
      <br></div>

    </div>

  </div>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1 class="text-center font-weight-bold pt-5">Sign up</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="loginfield pt-3">
        <%= f.label :username %><br/>
        <%= f.text_field :username, autofocus: true ,class: "col-md-12 form-control" %>
      </div>

      <div class="loginfield pt-3">
        <%= f.label:score,"TOEICスコア" %><br/>
        <%= f.number_field :score, autofocus: true ,class: "col-md-12 form-control"%>
      </div>

      <div class="loginfield pt-3">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true ,class: "col-md-12 form-control" %>
      </div>

      <div class="loginfield pt-3">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>
            characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "off",class: "col-md-12 form-control" %>
      </div>

      <div class="loginfield pt-3">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, autocomplete: "off" ,class: "col-md-12 form-control"%>
      </div>

      <div class="actions pt-3">
        <%= f.submit "Sign up" ,class: "btn btn-primary"%>
      </div>
    <% end %>
    <div class="pt-3"></div>
    <%= render "devise/shared/links" %>
  </div>
  <div class="col-md-1"></div>
</div>
</div>
